<% if subtitle %>
<h2><%= subtitle %></h2>
<% end %>
<div class='<%= item.class.name%> Item '>
<h3>
	<%= item.path_html %>
</h3>
<% 


unless item.loaded?
	%><p><em>item is not bound to data </em> ( id: <code><%=id%></code>, item: <code<%= item.inspect %></code> ) </p><%
else
	others = Hash.new
	item.to_h.each do |key,val|
		
		if item[key].kind_of? Pathable %>
			<h4><%= item[key].path_html %></h4>
			<ul>
			<% item[key].each do |ref,item| %>
				<li>
					<a class='Instance <%= item.class.name %>' href='<%= "#{item.path_url}" %>' ><%= item.link_text %></a>
				</li>
			<% end %>
		</ul>
		<% 
		else
			others[key] = val	
		end
	end
	%><h4>Other Parameters</h4>

	<dl>
	<% others.each do |key,val|
		%><dt><%= key %></dt>
		<dd><%= val.to_s %></dd>
	<% end %>
  </dl>
<% end %>
</div>


